.contact{
    padding: 2rem;
}
.contact input{
    padding: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.contact textarea{
    padding: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.contact button{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    background: #fff;
}