.banner{
    width: 100%;
    height: 23rem;
    background-image: url('https://scontent.fdac14-1.fna.fbcdn.net/v/t1.6435-9/p960x960/107896964_284001929706602_6233645993203966500_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeFFzVz8stx-xP9u998oQ5soCKxqBKBf2aIIrGoEoF_ZojN4e2UqWCg8PMLc6nzBRvEFXNqYcDwFplr0ipEvpcTV&_nc_ohc=xL-Fkrczr94AX8OHfxs&_nc_ht=scontent.fdac14-1.fna&oh=6b63374d8aad2a26c7c2271024a99b1e&oe=61CC69F6');
    background-repeat: no-repeat;
    background-size: cover;
}
